<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <form th:action="@{/filterLib}" th:object="${libro}" method="POST">
        
        <label for="s_titulo">Titulo:</label>
        <input type="text" name="s_titulo" th:field="*{s_titulo}">
        <span th:errors="*{s_nombre}" style="color: red;"></span>
        <br>
        
        <label for="s_autor">Autor:</label>
        <input type="text" name="apellido" th:field="*{s_autor}">
        <span th:errors="*{s_autor}" style="color: red;"></span>
        <br>
        
        <label for="s_isbn">ISBN:</label>
        <input type="text" name="s_isbn" th:field="*{s_isbn}">
        <span th:errors="*{s_isbn}" style="color: red;"></span>
        <br>
        
        <label for="categoria">Categoria:</label>
        <select name="categoria" th:field="*{c_categoria}">
            <option th:each="categoria, row: ${categorias}" th:value="${categoria.c_categoria}" th:text="${categoria.c_categoria}"></option>
        </select>
        <br>
        
        <label for="b_estado">Estado:</label>
        <input type="checkbox" name="b_estado" th:field="*{b_estado}">
        <span th:errors="*{b_estado}" style="color: red;"></span>
        <br>

        <input type="submit" value="Guardar">
    </form>
    <br>
    <form th:action="@{/listado}" method="POST">
        <input type="submit" value="Revisar lista de contribuyentes">
    </form>
    
</body>
</html>